[Desktop Entry]
Type=Application
Name=tr-driver
Comment=GUI controller for the LCD driver
Exec=/usr/bin/tr-driver
Icon=tr-driver
Terminal=false
Categories=Utility;Electronics;Development;

